@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* * {
    margin:0;
    padding:0;
    border:0;
} */

/*--------------------------------------------Global properties*/

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------Nav-bar*/

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 60px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #d36cbd;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

/*--------------------------------------------Header*/

#main-header {
    background: url(../images/pexels-chan-walrus-941861.jpg) no-repeat center center fixed;
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    /* vertical-align: middle; */
    padding-top: 70px;
}

.landing-text h1 {
    color: #fff;
    font-weight: bold;
}

.landing-text h3 {
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

